
@media only screen and (max-width: 768px) {
    .blog-display{
        display: grid;
        grid-template-areas: "bt"
        "bi"
        "bc"
        "bl"
        "bs";
        justify-items: center;
        align-items: center;
    }
}
@media only screen and (min-width: 769px) {
    .blog-display{
        display: grid;
        grid-template-columns: repeat(1fr,2);
        grid-template-rows:  0.5fr 1fr 1fr 0.5fr 0.5fr;
    
        grid-template-areas: "bi bt"
        "bi bc"
        "ba bc"
        "ba bl"
        "ba bs";
        justify-items: center;
        align-items: center;
    }
}
