
@media only screen and (max-width: 768px) {
    .blog-display{
        display: grid;
        grid-template-areas: "bi bt"
        "bi bc"
        "bi bc"
        "bi bl";
        justify-items: center;
        align-items: center;
    }
}
@media only screen and (min-width: 769px) {
    .blog-display{
        display: grid;
        grid-template-columns: repeat(1fr,2);
        grid-template-rows:  1fr 1fr 1fr 0.5fr;;
    
        grid-template-areas: "bi bt"
        "bi bc"
        "bi bc"
        "bi bl";
        justify-items: center;
        align-items: center;
    }
}
