
.blog6{
    border: 5px solid rgb(16, 170, 80);
    border-radius: 10%;
    grid-area: blog6;
}
.blog6 .blog-fig{
    grid-area: bi;
    
}
.blog6 .blog-fig>img{
    width: 100px;
    height: 100px;
    margin: 0.2rem;
    padding: 0.1rem;
    border: 0.2rem solid rgb(16, 170, 80);
    border-radius: 10px;
}
.blog6 .blog-img-caption{
    grid-area: bic;
    padding: 0.1rem;

}
.blog6 .blog-title{
    grid-area: bt;
    color: gray;
    padding: 0.2rem;
    margin: 0.2rem;
    border: 0.2rem solid rgb(16, 170, 80);
    border-radius: 10px;
}
.blog6 .blog-content{
    grid-area: bc;
    padding: 0.2rem;
    color: rgba(0,0,0,0.8);
    margin: 0.2rem;
    border: 0.2rem solid rgb(16, 170, 80);
    border-radius: 10px;
}
.blog6 .blog-link,.blog-link:visited{
    grid-area: bl;
    text-decoration:underline wavy red;
    margin: 0.2rem;
    padding: 0.2rem;
    border: 0.2rem solid rgb(16, 170, 80);
    border-radius: 10px;
}
.blog6 .blog-share{
    grid-area: bs;
}
.blog6 .blog-share img{
    width: 20px;
    height: 20px;
}
.blog6 .blog-author{
    grid-area: ba;
    margin: 0.2rem;
    padding: 0.1rem;
    border: 0.2rem solid rgb(16, 170, 80);
    border-radius: 10px;
  }
  .blog6 .blog-author img{
    width: 30px;
    height: 30px;
   }